* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

/* HEADER */

.first-header-container {
position: fixed;
top: 0;
left: 0;
right:0;
height: 50px;
width:100%;
background-color: white;
display: flex;
justify-content: space-between;

}

.second-header-container {
 
   background-color: #B4D0E7;
   padding-top: 50px;
   height: 602px;

}

.w-30 {
    width: 30%;
}

.w-70 {
    width:70%;
}

.w-60 {
    width: 60%;
}

.contained {
    margin: 0 auto;
    width: 900px;
}

.first-col {
    margin-left: 0;
}

.row{
    display: flex;
    margin-top: 30px;
}



.left-header  {
    display: flex;
}

.left-header ul {
display: flex;
}

.right-header {
    display: flex;
}

.right-header ul {
    display: flex;
}

li {
    margin: 15px;
    list-style-type: none;
}

.logo-dropbox {
    height: 20px;
    margin-top:14px;
}

.jumbo {
    width:100%;
}

/*GENERICS*/
.btn {
 padding: 5px 10px ;
 margin-bottom: 10px;
 font-size: 14px;
 }

.btn-blue {
    background-color: blue;
    color: white;
    border: blue;
   
}

.btn-white {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.start {
    margin-top: 20px;
    margin-bottom:20px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    margin-top:60px;
}

.arrow {
    margin-top: 20px;
}

.check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;  
}

.check-blue {
    border: 5px solid blue;
}

.check-gray {
    border: 3px solid lightgrey;
}

span {
    margin-right: 30px;
}

i {
    margin-right: 10px;
}
.first {
   text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
   /* width: 100%;*/
}

.center {
    text-align: center;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.dsc-margin {
    margin-left: 30px;
    margin-top: 30px;
}

.description {
    margin-top: 20px;
}

.margin {margin: 0px 10px;}



/*MAIN*/
.section {
    margin: 0 auto;
    width:800px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.check-box {
    margin-top: 50px;
    margin-bottom: 30px;
}

.cards-container {
    display: flex;
    margin-bottom: 30px;
    
}

.blocks-container {
    display: flex;
    width: 33%;
    margin: 30px 0px;
    
    
}

.card {
    width: 100%;
    border: 1px solid lightgray;
    margin-right: 30px;
}

.block {
    width: 100%;
    margin-right: 30px;
}

.bg-block {
    height: 150px;
}

.users {
        margin-top: 50px;
        margin-bottom: 50px;
}

.highlights {
    margin-top: 50px;
}

.partner-container {
    margin-top: 100px;
}

.operations {
    margin-top: 100px;
    
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.utility {
    margin-top: 100px;
    font-size: 22px;
}

.discovery {
    margin-top: 40px;
}

.second-section {margin-top:150px}

.squares-container {
   
   display: flex; 
}

.squares-container .square {
    width:  calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.squares-container .square .small-square {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square .small-square img {
    width: 50%;
    filter: invert(1);
}

.square-alone img {
    width: 50%;
    margin-left: 45px;
}

.square-alone p {
    margin: 10px 45px;
}

.bg-green {
    background-color: #A2D39B;
}
.bg-brown {
    background-color: #61082B;
}
.bg-blue{
    background-color:#0093CE;
}
.bg-red{
    background-color:#FF1C1C;
}
.bg-red-strong{
    background-color:#D5001F;
}
.bg-light-blue{
    background-color:#B4D0E7;
}
.bg-strong-blue{
    background-color:#0D2481;
}
.bg-yellow{
    background-color:#FFD830;
}

.bg-light-gray {
    background-color: #F5F5F5
}



    

