* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */

.first-header-container {
position: fixed;
top: 0;
left: 0;
right:0;
height: 50px;
width:100%;
background-color: white;
display: flex;
justify-content: space-between;

}

.second-header-container {
 
   background-color: #B4D0E7;
   padding-top: 50px;
   height: 602px;

}

.w-30 {
    width: 30%;
}

.w-70 {
    width:70%;
}

.contained {
    margin: 0 auto;
    width: 900px;
}

.first-col {
    margin-left: 0;
}

.row{
    display: flex;
    margin-top: 30px;
}



.left-header, ul {
    display: flex;
}

.right-header, ul {
    display: flex;
}

li {
    margin: 15px;
    list-style-type: none;
}

.logo-dropbox {
    height: 20px;
    margin-top:14px;
}

.jumbo {
    width:100%;

   
}

/*GENERICS*/
.btn {
 padding: 5px 10px ;
 margin-bottom: 10px;
 
 
}

.btn-blue {
    background-color: blue;
    color: white;
    border: blue;
   
}

.start {
    margin-top: 20px;
    margin-bottom:20px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    margin-top:60px;
}

.arrow {
    margin-top: 20px;
}

.check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;  
}

.check-blue {
    border: 5px solid blue;
}

.check-gray {
    border: 3px solid lightgrey;
}

span {
    margin-right: 30px;
}


/*MAIN*/
.section {
    margin: 0 auto;
    width:800px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.check-box {
    margin-top: 50px;
    margin-bottom: 30px;
}

